/*-- hs sign wrapper Start --*/
.hs_sign_main_wrapper{
	background:url('../images/content/sign_bg.jpg') 50% 0 repeat-y;
	background-position:center 0;
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	width:100%;
	height:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.hs_sign_heading_wrapper{
	float:left;
	width:100%;
}
.hs_sign_left_wrapper{
	float:left;
	width:25%;
	margin-top:60px;
	position:relative;
}
.hs_sign_center_wrapper{
	float:left;
	width:50%;
	margin-top:60px;
}
.hs_sign_right_wrapper{
	float:left;
	width:25%;
	margin-top:60px;
	position:relative;
}
.hs_sign_left_tabs_wrapper_2{
	margin-top:25px;
	float:left;
	width:100%;
}
.hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_wrapper{
	float:left;
	width:80px;
	height:80px;
	border: 8px solid rgba(0, 0, 0, 0.0784313725490196);
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_wrapper i{
	width:65px;
	height:65px;
	float:left;
	text-align:center;
	line-height:65px;
	background:#ff7e00;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_wrapper i:before{
	margin-left:0;
	color:#ffffff;
	font-size:40px;
}
.hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_cont_wrapper{
	float:left;
	width:calc(100% - 80px);
	padding-top: 15px;
    padding-left: 15px;
}
.hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_cont_wrapper li:last-child{
	font-size:16px;
	
}
.hs_sign_left_tabs_wrapper li .hs_tabs_btn{
	float:left;
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:#000000;
	background:rgba(255, 255, 255, 0.21);
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_wrapper .hs_slider_tabs_icon_cont_wrapper {
    float: left;
    width: calc(100% - 80px);
    padding-top: 15px;
    padding-right: 15px;
}
/*-- hs sign cycle wrapper start --*/
.hs_cycle_main_wrapper{
	float:left;
	margin-left: 141px;
    margin-top: 147px;
}
.hs_cycle_img{
	position:relative;
}
.hs_cycle_img:after{
	content:'';
	border: 45px solid #000000;
    position: absolute;
    width: 295px;
    height: 295px;
    left: 0;
	top:0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.hs_cycle_img span{
	position:absolute;
	top: 39px;
    left: 37px;
}
.pulse {
  margin:100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgba(55, 164, 221, 0.5803921568627451);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(55, 164, 221, 0.51);
  }
  70% {
      -webkit-box-shadow: 0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(55, 164, 221, 0.51);
    box-shadow: 0 0 0 0 rgba(55, 164, 221, 0.51);
  }
  70% {
      -moz-box-shadow: 0 0 0 25px rgba(204,169,44, 0);
      box-shadow: 0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.hs_cycle_img img{
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	width:295px;
	height:295px;
	position:relative;
}
.hs_tab_shap1 svg{
	fill:#91c8cb;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap2 svg{
	fill:#c1aa36;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap3 svg{
	fill:#c48c59;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap4 svg{
	fill:#c95854;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap5 svg{
	fill:#c06175;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap6 svg{
	fill:#9d4e69;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap7 svg{
	fill:#b099b6;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap8 svg{
	fill:#8da1c0;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap9 svg{
	fill:#91c8cb;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap10 svg{
	fill:#618967;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap11 svg{
	fill:rgb(204, 145, 39);
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap12 svg{
	fill:#8c8b3b;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap1 p, .hs_tab_shap2 p, .hs_tab_shap3 p, .hs_tab_shap4 p, .hs_tab_shap5 p, .hs_tab_shap6 p, .hs_tab_shap7 p, .hs_tab_shap8 p, .hs_tab_shap9 p, .hs_tab_shap10 p, .hs_tab_shap11 p, .hs_tab_shap12 p{
	position:absolute;
	color:#ffffff;
    color: #ffffff;
    top: 18px;
}
.hs_tab_shap1{
	position: absolute;
	 -moz-transform:rotate(-62deg);
    -webkit-transform:rotate(-62deg);
    -o-transform:rotate(-62deg);
    -ms-transform:rotate(-62deg);
    transform: rotate(-62deg);
    top: 29px;
    left: 35px;
	z-index:1;
}
.hs_tab_shap2{
	position: absolute;
	 -moz-transform:rotate(-31deg);
    -webkit-transform:rotate(-31deg);
    -o-transform:rotate(-31deg);
    -ms-transform:rotate(-31deg);
    transform: rotate(-31deg);
    top: 1px;
    left: 87px;
	z-index:1;
}
.hs_tab_shap3{
	position: absolute;
	 -moz-transform:rotate(-1deg);
    -webkit-transform:rotate(-1deg);
    -o-transform:rotate(-1deg);
    -ms-transform:rotate(-1deg);
    transform: rotate(-1deg);
    top: 3px;
    left: 146px;
	z-index:1;
}
.hs_tab_shap4{
	position: absolute;
	 -moz-transform:rotate(29deg);
    -webkit-transform:rotate(29deg);
    -o-transform:rotate(29deg);
    -ms-transform:rotate(29deg);
    transform: rotate(29deg);
    top: 35px;
    left: 196px;
	z-index:1;
}
.hs_tab_shap5{
	position: absolute;
	 -moz-transform:rotate(57deg);
    -webkit-transform:rotate(57deg);
    -o-transform:rotate(57deg);
    -ms-transform:rotate(57deg);
    transform: rotate(57deg);
    top: 87px;
    left: 224px;
	z-index:1;
}
.hs_tab_shap6{
	position: absolute;
	 -moz-transform:rotate(88deg);
    -webkit-transform:rotate(88deg);
    -o-transform:rotate(88deg);
    -ms-transform:rotate(88deg);
    transform: rotate(88deg);
    top: 145px;
    left: 223px;
	z-index:1;
}
.hs_tab_shap7{
	position: absolute;
	 -moz-transform:rotate(118deg);
    -webkit-transform:rotate(118deg);
    -o-transform:rotate(118deg);
    -ms-transform:rotate(118deg);
    transform: rotate(118deg);
    top: 195px;
    left: 193px;
	z-index:1;
}
.hs_tab_shap8{
	position: absolute;
	 -moz-transform:rotate(148deg);
    -webkit-transform:rotate(148deg);
    -o-transform:rotate(148deg);
    -ms-transform:rotate(148deg);
    transform: rotate(148deg);
    top: 223px;
    left: 142px;
	z-index:1;
}
.hs_tab_shap9{
	position: absolute;
	 -moz-transform:rotate(179deg);
    -webkit-transform:rotate(179deg);
    -o-transform:rotate(179deg);
    -ms-transform:rotate(179deg);
    transform: rotate(179deg);
    top: 222px;
    left: 83px;
	z-index:1;
}
.hs_tab_shap10{
	position: absolute;
	 -moz-transform:rotate(209deg);
    -webkit-transform:rotate(209deg);
    -o-transform:rotate(209deg);
    -ms-transform:rotate(209deg);
    transform: rotate(209deg);
    top: 191px;
    left: 32px;
	z-index:1;
}
.hs_tab_shap11{
	position: absolute;
	 -moz-transform:rotate(238deg);
    -webkit-transform:rotate(238deg);
    -o-transform:rotate(238deg);
    -ms-transform:rotate(238deg);
    transform: rotate(238deg);
    top: 140px;
    left: 4px;
	z-index:1;
}
.hs_tab_shap12{
	position: absolute;
	 -moz-transform:rotate(267deg);
    -webkit-transform:rotate(267deg);
    -o-transform:rotate(267deg);
    -ms-transform:rotate(267deg);
    transform: rotate(267deg);
    top: 80px;
    left: 5px;
	z-index:1;
}
.hs_sign_left_tabs_border_wrapper1 span{
	position:absolute;
	top: 45px;
	width:10px;
	height:10px;
	background:#565656;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper1 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 228px;
    position: absolute;
    left: 2px;
	 -moz-transform:rotate(201deg);
    -webkit-transform:rotate(201deg);
    -o-transform:rotate(201deg);
    -ms-transform:rotate(201deg);
    transform: rotate(201deg);
    top: 47px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper1 span:before{
	content: '';
    border: 1px dashed #565656;
    width: 25px;
    position: absolute;
	 -moz-transform:rotate(231deg);
    -webkit-transform:rotate(231deg);
    -o-transform:rotate(231deg);
    -ms-transform:rotate(231deg);
    transform: rotate(231deg);
    top: 99px;
    left: 219px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper2 span{
	position: absolute;
    top: 72px;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper2 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 173px;
    position: absolute;
    left: 8px;
	 -moz-transform:rotate(193deg);
    -webkit-transform:rotate(193deg);
    -o-transform:rotate(193deg);
    -ms-transform:rotate(193deg);
    transform: rotate(193deg);
    top: 24px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper3 span{
	position: absolute;
    top: 72px;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper3 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 136px;
    position: absolute;
    left: 8px;
	 -moz-transform:rotate(181deg);
    -webkit-transform:rotate(181deg);
    -o-transform:rotate(181deg);
    -ms-transform:rotate(181deg);
    transform: rotate(181deg);
    top: 5px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper4 span{
	position: absolute;
    top: 72px;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper4 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 141px;
    position: absolute;
    left: 8px;
	 -moz-transform:rotate(169deg);
    -webkit-transform:rotate(169deg);
    -o-transform:rotate(169deg);
    -ms-transform:rotate(169deg);
    transform: rotate(169deg);
    top: -9px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper5 span{
	position: absolute;
    top: 72px;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper5 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 193px;
    position: absolute;
    left: 5px;
	 -moz-transform:rotate(160deg);
    -webkit-transform:rotate(160deg);
    -o-transform:rotate(160deg);
    -ms-transform:rotate(160deg);
    transform: rotate(160deg);
    top: -30px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper6 span{
	position: absolute;
    top: 71px;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper6 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 245px;
    position: absolute;
    left: -2px;
	 -moz-transform:rotate(154deg);
    -webkit-transform:rotate(154deg);
    -o-transform:rotate(154deg);
    -ms-transform:rotate(154deg);
    transform: rotate(154deg);
    top: -53px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper6 span:before{
	    content: '';
    border: 1px dashed #565656;
    width: 35px;
    position: absolute;
	 -moz-transform:rotate(132deg);
    -webkit-transform:rotate(132deg);
    -o-transform:rotate(132deg);
    -ms-transform:rotate(132deg);
    transform: rotate(132deg);
    top: -121px;
    left: 227px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper1 span{
	    position: absolute;
    top: 46px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper1 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 222px;
    position: absolute;
    left: -215px;
	 -moz-transform:rotate(160deg);
    -webkit-transform:rotate(160deg);
    -o-transform:rotate(160deg);
    -ms-transform:rotate(160deg);
    transform: rotate(160deg);
    top: 43px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper1 span:before{
	content: '';
    border: 1px dashed #565656;
    width: 35px;
    position: absolute;
	 -moz-transform:rotate(132deg);
    -webkit-transform:rotate(132deg);
    -o-transform:rotate(132deg);
    -ms-transform:rotate(132deg);
    transform: rotate(132deg);
    top: 95px;
    left: -239px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper2 span{
	    position: absolute;
    top: 70px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper2 span:after{
	content: '';
    border: 1px dashed #565656;
    width: 166px;
    position: absolute;
    left: -161px;
	 -moz-transform:rotate(166deg);
    -webkit-transform:rotate(166deg);
    -o-transform:rotate(166deg);
    -ms-transform:rotate(166deg);
    transform: rotate(166deg);
    top: 24px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper3 span{
	    position: absolute;
    top: 70px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper3 span:after{
	    content: '';
    border: 1px dashed #565656;
    width: 145px;
    position: absolute;
    left: -139px;
	 -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    top: 4px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper4 span{
	    position: absolute;
    top: 70px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper4 span:after{
	    content: '';
    border: 1px dashed #565656;
    width: 145px;
    position: absolute;
    left: -139px;
	 -moz-transform:rotate(196deg);
    -webkit-transform:rotate(196deg);
    -o-transform:rotate(196deg);
    -ms-transform:rotate(196deg);
    transform: rotate(196deg);
    top: -16px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper5 span{
	    position: absolute;
    top: 70px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper5 span:after{
	    content: '';
    border: 1px dashed #565656;
    width: 184px;
    position: absolute;
    left: -175px;
	 -moz-transform:rotate(205deg);
    -webkit-transform:rotate(205deg);
    -o-transform:rotate(205deg);
    -ms-transform:rotate(205deg);
    transform: rotate(205deg);
    top: -37px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper6 span{
	    position: absolute;
    top: 70px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #565656;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper6 span:after{
	    content: '';
    border: 1px dashed #565656;
    width: 216px;
    position: absolute;
    left: -201px;
	 -moz-transform:rotate(210deg);
    -webkit-transform:rotate(210deg);
    -o-transform:rotate(210deg);
    -ms-transform:rotate(210deg);
    transform: rotate(210deg);
    top: -52px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_right_tabs_border_wrapper6 span:before{
	    content: '';
    border: 1px dashed #565656;
    width: 43px;
    position: absolute;
	 -moz-transform:rotate(44deg);
    -webkit-transform:rotate(44deg);
    -o-transform:rotate(44deg);
    -ms-transform:rotate(44deg);
    transform: rotate(44deg);
    top: -122px;
    left: -225px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_wrapper:hover .hs_slider_tabs_icon_wrapper i{
	background:#37a4dd;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_wrapper:hover .hs_slider_tabs_icon_cont_wrapper li .hs_tabs_btn{
	color:#37a4dd !important;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper1:hover span,
.hs_sign_left_tabs_border_wrapper2:hover span,
.hs_sign_left_tabs_border_wrapper3:hover span,
.hs_sign_left_tabs_border_wrapper4:hover span,
.hs_sign_left_tabs_border_wrapper5:hover span,
.hs_sign_left_tabs_border_wrapper6:hover span,
.hs_sign_right_tabs_border_wrapper1:hover span,
.hs_sign_right_tabs_border_wrapper2:hover span,
.hs_sign_right_tabs_border_wrapper3:hover span,
.hs_sign_right_tabs_border_wrapper4:hover span,
.hs_sign_right_tabs_border_wrapper5:hover span,
.hs_sign_right_tabs_border_wrapper6:hover span{
	background:#37a4dd;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_sign_left_tabs_border_wrapper1:hover span:before, .hs_sign_left_tabs_border_wrapper1:hover span:after,.hs_sign_left_tabs_border_wrapper2:hover span:before, .hs_sign_left_tabs_border_wrapper2:hover span:after,.hs_sign_left_tabs_border_wrapper3:hover span:before, .hs_sign_left_tabs_border_wrapper3:hover span:after,.hs_sign_left_tabs_border_wrapper4:hover span:before, .hs_sign_left_tabs_border_wrapper4:hover span:after,.hs_sign_left_tabs_border_wrapper5:hover span:before, .hs_sign_left_tabs_border_wrapper5:hover span:after,.hs_sign_left_tabs_border_wrapper6:hover span:before, .hs_sign_left_tabs_border_wrapper6:hover span:after,.hs_sign_right_tabs_border_wrapper1:hover span:before, .hs_sign_right_tabs_border_wrapper1:hover span:after,.hs_sign_right_tabs_border_wrapper2:hover span:before, .hs_sign_right_tabs_border_wrapper2:hover span:after,.hs_sign_right_tabs_border_wrapper3:hover span:before, .hs_sign_right_tabs_border_wrapper3:hover span:after,.hs_sign_right_tabs_border_wrapper4:hover span:before, .hs_sign_right_tabs_border_wrapper4:hover span:after,.hs_sign_right_tabs_border_wrapper5:hover span:before, .hs_sign_right_tabs_border_wrapper5:hover span:after,.hs_sign_right_tabs_border_wrapper6:hover span:before, .hs_sign_right_tabs_border_wrapper6:hover span:after{
	border:1px dashed #37a4dd;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_tab_shap1:hover svg,.hs_tab_shap2:hover svg,.hs_tab_shap3:hover svg, .hs_tab_shap4:hover svg, .hs_tab_shap5:hover svg, .hs_tab_shap6:hover svg, .hs_tab_shap7:hover svg, .hs_tab_shap8:hover svg, .hs_tab_shap9:hover svg, .hs_tab_shap10:hover svg, .hs_tab_shap11:hover svg, .hs_tab_shap12:hover svg{
	fill:#37a4dd;
	   -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/*-- hs sign cycle wrapper End --*/
/*-- hs sign wrapper End --*/